@model Terz.Models.DataManager.DataManagerView
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@





<link rel="stylesheet" href="~/terz/LTE/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="~/terz/LTE/plugins/fontawesome-free/css/all.css">


<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/terz/LTE/dist/css/adminlte.min.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
<link rel="stylesheet" href="~/terz/css/DataManager.css" />

<style>
    .checked {
        color: orange;
    }

    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }

    #text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 30px;
        color: white;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
</style>

<div id="overlay">

    <div id="text"><div style="margin-left:22px" class="loader"></div> Enviando...</div>
</div>

<div id="TableFiles">
    <div class="card">
        <div class="card-header border-0">
            <h3 class="card-title">DataFrames</h3>
            <div class="card-tools">
                <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                </a>
                <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-striped table-valign-middle">
                <thead>
                    <tr>
                        <th class="cell100 column1">Arquivo</th>
                        <th class="cell100 column2">Tamanho</th>
                        <th class="cell100 column3">Ações</th>



                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (Terz.Models.DataManager.DataFrameInfo dataFrameInfo in Model.DataFrameInfos)
                        {
                            <tr>
                                <td class="cell100 column1">
                                    <label id="l-@dataFrameInfo.Name">@dataFrameInfo.Name</label>
                                    <input id="t-@dataFrameInfo.Name" type="text" style="display:none" value="@dataFrameInfo.Name" onchange="carregarNome('@dataFrameInfo.Name')" />
                                </td>
                                <td class="cell100 column2">
                                    @( ((double)((Convert.ToDouble(dataFrameInfo.Size)) / (1024 * 1024))).ToString("0.00") )  MB
                                </td>
                                <td class="cell100 column3">
                                    <a href="#" onclick="mudarNome('@dataFrameInfo.Name')"><i class="fas fa-pen-square"></i></a>
                                    <a href="#" onclick=" deletarDataFrame('@dataFrameInfo.Name')" style="margin-left:10px"><i class="fas fa-trash"></i></a>
                                </td>



                            </tr>
                        }
                    }

                    <tr>
                        <td class="cell100 column1"></td>
                        <td class="cell100 column2">
                            @if (Model.Enterprise)
                            {
                                <label> @( ((double)((Convert.ToDouble(Model.DataFrameInfos.Sum(d => d.Size))) / (1024 * 1024))).ToString("0.00") ) </label>
                            }
                            else
                            {
                                <label> @( ((double)((Convert.ToDouble(Model.DataFrameInfos.Sum(d => d.Size))) / (1024 * 1024))).ToString("0.00") ) /@Model.Report.MaxSize MB </label>
                            }


                        </td>
                        <td class="cell100 column3">
                            @if (!Model.Enterprise)
                            {
                                <button class="btn btn-block btn-primary" onclick="showExpandOptions()">Expandir</button>
                            }
                        
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div id="ExpandOptions" style="display:none">
        <select class="form-control" id="ExpandOptionSelect">
            <option value="0" id="eo0">10 MB (Grátis)</option>
            <option value="1" id="eo1">100 MB 1 crédito/dia</option>
            <option value="2" id="eo2">250 MB 2 créditos/dia</option>
            <option value="3" id="eo3">400 MB 3 créditos/dia</option>
            <option value="4" id="eo4">600 MB 4 créditos/dia</option>
            <option value="5" id="eo5">800 MB 5 créditos/dia</option>
            <option value="6" id="eo6">1000 MB 6 créditos/dia</option>
        </select>
        <div style="display:flex">
            <button class="btn btn-block btn-success" style="width:200px;height:38px;margin-top:8px" onclick="Expand()">Confirmar</button>
            <button class="btn btn-block btn-secondary" style="width:200px; margin-left:15px" onclick="showExpandOptions()">Cancelar</button>
        </div>
    </div>

    <label for="dfFile">Enviar DataFrames</label>
    <div class="input-group">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="dfFile" multiple>
            <label class="custom-file-label" for="exampleInputFile">Escolher Arquivos</label>
        </div>
        <div class="input-group-append" >
            <button class="btn btn-block btn-success" onclick="uploadDataFrame()" id="">Enviar</button>
        </div>
    </div>

    <hr />
    <div id="Referencias">
        <div class="card">
            <div class="card-header border-0">
                <h3 class="card-title">Referencias</h3>
                <div class="card-tools">
                    <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-download"></i>
                    </a>
                    <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                    <thead>
                        <tr>
                            <th class="cell100 column1">Descrição</th>
                            <th class="cell100 column2">Ações</th>



                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (Terz_DataBaseLayer.Referencia referencia in Model.Report.Referencias)
                            {
                                <tr>
                                    <td class="cell100 column1">
                                        <label id="lr-@referencia.Id">@referencia.Descricao</label>
                                        <input id="tr-@referencia.Id" type="text" style="display:none;width:80%" value="@referencia.Descricao" onchange="carregarReferencia('@referencia.Id')" />
                                    </td>
                                    <td class="cell100 column2">
                                        <a href="#" onclick="mudarReferencia('@referencia.Id')"><i class="fas fa-pen-square"></i></a>
                                        <a href="#" onclick=" deletarReferencia('@referencia.Id')" style="margin-left:10px"><i class="fas fa-trash"></i></a>
                                    </td>



                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <button class="btn btn-block btn-success" style="width:230px" onclick="AddReferencia()">Adicionar Referência</button>

    </div>

    <!-- AdminLTE App -->
    <script src="~/terz/LTE/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/terz/LTE/dist/js/demo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <script>
        function on() {
            document.getElementById("overlay").style.display = "block";
        }

        function off() {
            document.getElementById("overlay").style.display = "none";
        }
        function showExpandOptions() {
            if (document.getElementById("ExpandOptions").style.display == "none") {

                document.getElementById("ExpandOptions").style.display = "block";
            }
            else {
                document.getElementById("ExpandOptions").style.display = "none";
            }
        }

        function Expand() {
            var option = document.getElementById("ExpandOptionSelect").value;
            $.ajax(
                {
                    type: 'POST',
                    url: 'DataManager/ExpandirRelatorio?id=@Model.Report.Id&opcao=' + option,
                    dataType: 'html',
                    cache: false,
                    async: true,

                    success: function (data) {


                        location.reload();
                    }

                });
        }
        function AddReferencia() {

            var referencia = {
                ReportId:'@Model.Report.Id',
                Descricao:''
            }

        $.ajax(
            {
                type: 'POST',
                url: 'DataManager/AddReferencia',
                dataType: 'html',
                cache: false,
                async: true,

                success: function (data) {


                    location.reload();
                },

                data: referencia

            });
        }
        function uploadDataFrame() {
            on();
        var formData = new FormData();
        var files = document.getElementById("dfFile").files;
        for (var i = 0; i < files.length; i++) {
            formData.append("dfFile", files[i]);
        }


        $.ajax(
            {
                type: 'POST',
                url: 'DataManager/UploadDataFrame?id=' + @Model.Id,
                dataType: 'html',
                cache: false,
                async: true,
                contentType: false,
                processData: false,
                success: function (data) {
                    off();
                    alert("Enviado Com Sucesso");
                  
                    location.reload();
                },

                data: formData

            });
    }

    function mudarNome(name) {

        document.getElementById("l-" + name).style.display = "none";
        document.getElementById("t-" + name).style.display = "block";



        }
        function mudarReferencia(id) {
            document.getElementById("lr-" + id).style.display = "none";
            document.getElementById("tr-" + id).style.display = "block";
        }

    function carregarNome(name) {


                 $.ajax(
                    {
                                type: 'POST',
                                url: 'DataManager/RenameDataFrame?id=' + @Model.Id+'&name=' + name + '&newname=' + document.getElementById("t-" + name).value,
                                dataType: 'html',
                                cache: false,
                                async: true,
                                contentType: false,
                                processData: false,
                                success: function (data) {

                                    console.log(data);
                                    location.reload();
                                }

                            });
        }

        function carregarReferencia(id) {

                 $.ajax(
                    {
                         type: 'POST',
                         url: 'DataManager/RenameReferencia?id=' + id + '&desc=' + document.getElementById("tr-" + id).value,
                                dataType: 'html',
                                cache: false,
                                async: true,
                                contentType: false,
                                processData: false,
                                success: function (data) {

                                    console.log(data);
                                    location.reload();
                                }

                            });
        }


   function deletarDataFrame(name){
     $.ajax(
                    {
                                type: 'POST',
                                url: 'DataManager/DeleteDataFrame?id=' + @Model.Id+'&name=' + name,
                                dataType: 'html',
                                cache: false,
                                async: true,
                                contentType: false,
                                processData: false,
                                success: function (data) {

                                    console.log(data);
                                    location.reload();
                                }

                            });

        }

        function deletarReferencia(id){
     $.ajax(
                    {
                                type: 'POST',
                                url: 'DataManager/DeleteReferencia?id=' +id,
                                dataType: 'html',
                                cache: false,
                                async: true,
                                contentType: false,
                                processData: false,
                                success: function (data) {

                                    console.log(data);
                                    location.reload();
                                }

                            });

    }

    </script>

