@model Terz.Models.Report.SobreView


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:600|Work+Sans" rel="stylesheet">
<link rel="stylesheet" href="~/terz/css/Sobre.css" />

<div class="card-container" style="margin-left:20%">
    @if (Model.Usuario.Foto == "")
    {
        <img width="200" class="round" src="~/terz/images/defaultuser.jpg" alt="user" />
    }
    else
    {
        <img width="200" class="round" src="@Model.Usuario.Foto" alt="user" />
    }

    <h3>@Model.Usuario.Nome</h3>
    <h6>@Model.Usuario.Lugar</h6>
    <p>@Model.Usuario.Descricao</p>
   
    <div class="skills">
        <h6>Skills</h6>
        <ul>
            @foreach(string habilidade in Model.Usuario.Habilidades.Split(","))
            {
                <li>@habilidade</li>
            }
            
        </ul>
    </div>
</div>




